ul {
  list-style-type: none;
}

li {
  background-color: rgb(54, 149, 149);
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

li:hover {
  background-color: rgb(16, 70, 70);
}

li.selected:hover,
.selected {
  background-color: rgb(143, 19, 143);
}

a {
  text-decoration: none;
  color: white;
}
