<ul>
  <li
    *ngFor="let video of videos"
    [class.selected]="video.id === selectedVideoId"
  >
    <a
      routerLink
      [queryParams]="{ selectedVideo: video.id }"
      queryParamsHandling="merge"
    >
      <app-video-thumbnail [videoDetails]="video"></app-video-thumbnail>
    </a>
  </li>
</ul>
