<form [formGroup]="filtersForm">
  <label for="title">Title Filter</label>
  <input id="title" formControlName="title" />

  <label for="author">Author Filter</label>
  <input id="author" formControlName="author" />

  <label for="region">Region Filter</label>
  <select id="region" formControlName="region">
    <option *ngFor="let option of regionOptions" [value]="option.value">
      {{ option.label }}
    </option>
  </select>
</form>

<pre>{{ filtersForm.value | json }}</pre>
